* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
    padding: 10px;
}

header table td {
    text-align: center;
    font-size: 45px;
    width: 15%;
}

header table td.logo {
    float: left;
    width: 25%;
}

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 65%;
    padding: 10px;
}

nav table.stats {
    width: 100%;
    height: 221px;
    text-align: center;
    font-size: 48px;
}
nav table.stats span {
    font-weight: bold;
    font-size: 100px;
}

nav table.stats td {
    background-color: #2b859f;
}

nav table.stats td.colorYellow {
    background-color: #ffc200;
}

nav table.queues {
    width: 100%;
    height: 445px;
}


nav table.queues tr {
    background-color: lightgray;
    text-align: center;
    font-size: 36px;
}

nav table.queues tr.header {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    background-color: #005569; 
    color: #ffffff;
}

nav table.queues td {
    width: 20%;
}

nav table.queues td.qname {
    width: 40%;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: left;
    padding: 10px;
    width: 35%;
    font-size: 25px;
}



article tr:nth-child(2n+1) {
    background-color: #e8e8e8;
}
article tr:nth-child(2n) {
    background-color: #aeaeae;
}

article td.title-style {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    background-color: #005569;
    /*border-color: #005569;*/
    color: white;
    height: 31px;
}

/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}

