<!DOCTYPE html>
<html manifest="{{ url_for('static', filename='wb.appcache') }}">
<body background="{{ url_for('static', filename='images/') }}{% block background %}{% endblock %}">
<head>
<title>{% block title %}{% endblock %} Wallboard</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="refresh" content="6">
<link href="{{ url_for('static', filename='css/ucce_wb.css') }}" rel="stylesheet">
</head>

<header>
    <div>
        <table style="width: 100%;">
            <tr>
                <td class="logo"><img src="{{ url_for('static', filename='images/') }}{% block logo %}{% endblock %}"></td>
                <td>{% block clock1 %}{% endblock %}</td>
                <td>{% block clock2 %}{% endblock %}</td>
                <td>{% block clock3 %}{% endblock %}</td>
                <td>{% block clock4 %}{% endblock %}</td>
                <td>{% block clock5 %}{% endblock %}</td>  
            </tr>
        </table>
    </div>
</header>
                    
<section>
    <nav>
        <table style="background-color: white;" class="stats">
            <tr>
                {% block top1 %}{% endblock %}
                {% block top2 %}{% endblock %}
                {% block top3 %}{% endblock %}
            </tr>
        </table>
        <table class="queues">
            {% block middletable %}
            {% endblock %}
            {% block calltypes %}
            {% endblock %}
        </table>
        <table class="stats">
            <tr>
                {% block bottom1 %}{% endblock %}
                {% block bottom2 %}{% endblock %}
                {% block bottom3 %}{% endblock %}
            </tr>
        </table>
    </nav>
    <article>
        <table style="width:100%; height:790px; background-color: white">
            {% block agenttable %}{% endblock %}
        </table>
    </article>
</section>
                    
 <!--                   <footer>
                      <p>Footer</p>
                    </footer>-->




    </body>

</html>